
<footer class="footer py-3">
  <div class="container footerIcons">
    <i class="fab fa-twitter fa-2x"></i>
    <i class="fab fa-facebook-f fa-2x"></i>
    <i class="fab fa-instagram fa-2x"></i>
    <i class="fas fa-at fa-2x"></i>
  </div>
    <div class="container">
      <span class="text-muted">Made by Aryan</span>
    </div>
  </footer>

</body>
</html>