<div class="newsLetter">

    <div class="alert alert-dismissible fade show" role="alert">
        
        <form action="/" method="post">    
            <div class="row">
                <div class="col col-lg-4">
                    <strong>Sign up, for our newsletter to never miss out!!</strong>
                </div>
                <div class="col col-lg-6">
                    <input type="email" name="email"  class="form-control" placeholder="Enter your Email ID">
                </div>
                <div class="col col-lg-2">
                    <button class="btn btn-outline-info">Join</button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </form>
    </div>

</div>




    
    
</form>
