<%- include('./partials/header') %>

<div class="container">
    <%- include('./partials/flash')%>
    <h1>Opps! Something went wrong</h1>
    <button class="btn btn-outline-primary" ><a class = 'errorLink' href='/blogs'>Go back</a></button>
</div>


<%- include('./partials/footer')%>