<%- include('../partials/header')%>
<%- include('../partials/navbar')%>
<!-- Top Panel -->
<div class="row landingPanel">
    <div class="col col-lg-6 landingText">
        <h1>Read</h1>
        <h1>And</h1>
        <h1>Learn</h1>
    </div>
    <div class="col col-lg-6">
        <img src="https://images.unsplash.com/photo-1547104442-f5fc9a178155?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="Blog image" class="landingImage">
    </div>
</div>

<%- include('../partials/newsLetter')%>
<%- include('../partials/footer')%>